/* reset */
button,
h3 {
  all: unset;
}

// .AccordionRoot {}
.AccordionItem {
  overflow: hidden;
}

// .AccordionItem:first-child {}
.AccordionItem:last-child {
  border-bottom: 1px solid var(--agui-c-border);
}

// .AccordionItem:focus-within {
//   position: relative;
//   z-index: 1;
//   box-shadow: 0 0 0 2px var(--mauve-12);
// }

.AccordionHeader {
  display: flex;
  border-top: 1px solid var(--agui-c-border);
}

.AccordionTrigger {
  color: var(--agui-c-text-1);
  font-size: 12px;

  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  flex: 1;
  display: flex;
  align-items: center;

  line-height: 1;

  --un-shadow: var(--un-shadow-inset) 0 1px 2px 0
    var(--un-shadow-color, rgb(0 0 0 / 0.05));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow);

  margin: 0;
  padding: 3px 0px;
  user-select: none;
  background-color: var(--agui-c-bg-summary, rgba(62, 62, 62, 1));

  cursor: pointer;

  &:hover {
    background-color: var(--agui-c-bg-hover, rgba(62, 62, 62, 1));
  }
}

.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 200ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 200ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 10px 4px 10px 16px;
}

.AccordionChevron {
  color: #999;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(90deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
