.adv-button {
  @apply adv-font-serif;

  cursor: pointer;
  font-weight: 900;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1;

  margin: 1rem;
  padding: 1rem 2.4rem;
  white-space: nowrap;

  transition: all 0.2s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    color: white;
    box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.9);
  }

  // disabled
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
