@use 'sass:map';

// scrollbar
$scrollbar: (
  color: #333,
);

:root {
  --adv-scrollbar-thumb-bg-color: #333;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(123, 123, 123, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--adv-scrollbar-thumb-bg-color);
}
