# custom
package-lock.json
yarn.lock

pnpm-global

# vite plugin
components.d.ts
auto-imports.d.ts

.vite-ssg-dist
.vite-ssg-temp

dist/
dist-ssr
*.local

temp/

# local env files
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# plugins
.VSCodeCounter
