.agui-dropdown-menu-content,
.agui-dropdown-menu-sub-content {
  min-width: 220px;
  background-color: var(--agui-c-popup);
  border: 1px solid var(--agui-c-border);

  border-radius: 4px;
  padding: 5px;
  box-shadow: var(--agui-shadow-popup);
  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  z-index: 1000;
}

.agui-dropdown-menu-item {
  all: unset;
  color: var(--agui-c-text-1);
  font-size: 12px;
  line-height: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;

  position: relative;
  user-select: none;
}

.agui-dropdown-menu-item {
  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  &[data-highlighted] {
    background-color: var(--agui-c-active);
    color: var(--agui-c-on-accent);
  }
}

@media (prefers-reduced-motion: reduce) {
  .agui-dropdown-menu-content {
    animation-duration: 0ms;
  }
}
