@use 'sass:map';
@use '../vars.scss' as *;

$slider: () !default;
$slider: map.merge(
  (
    'thumb-size': 1rem,
  ),
  $slider
);

.adv-slider {
  -webkit-appearance: none;
  width: 100%;
  height: map.get($slider, 'thumb-size');
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  &-input {
    margin-left: 0.5rem;
    background: transparent;
    color: white;
    width: 2rem;
    font-size: 12px;
    text-align: right;

    &:focus {
      outline: 1px solid white;
    }
  }

  &::-moz-range-thumb {
    width: map.get($slider, 'thumb-size');
    height: map.get($slider, 'thumb-size');
    background: map.get($adv-colors, 'primary');
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: map.get($slider, 'thumb-size');
    height: map.get($slider, 'thumb-size');
    background: map.get($adv-colors, 'primary');
    cursor: pointer;
  }
}
