html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.btn {
  @apply px-3 py-2 rounded inline-flex justify-center items-center
    bg-blue-600 text-white cursor-pointer focus:outline-none
    hover:bg-blue-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-flex justify-center items-center cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100;
  font-size: 0.9em;
}
