@use 'sass:map';

$adv-font: () !default;
$adv-font: map.merge(
  (
    'serif': (
      'ZCOOL XiaoWei',
      'Songti SC',
      'Noto Serif SC',
      STZhongsong,
      STKaiti,
      KaiTi,
      Roboto,
      ui-serif,
      Georgia,
      Cambria,
      'Times New Roman',
      Times,
      serif,
    ),
  ),
  $adv-font
);

$adv-colors: () !default;
$adv-colors: map.merge(
  (
    'primary': #0078e7,
  ),
  $adv-colors
);
