// @see https://moderncss.dev/pure-css-custom-checkbox-style/
.agui-checkbox {
  cursor: pointer;

  appearance: none;
  background-color: var(--agui-c-field);
  margin: 0;
  font: inherit;
  color: currentColor;

  width: 1rem;
  height: 1rem;

  border: 1px solid var(--agui-c-control-border);
  border-radius: 2px;

  display: inline-grid;
  place-content: center;

  // checked style
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    transform: scale(0);
    // transition: 120ms transform ease-in-out;

    background-color: var(--agui-c-on-accent);

    // checkmark
    // transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:hover:not(:disabled) {
    border: 1px solid var(--agui-c-border-hover);
  }

  &:checked {
    background-color: var(--agui-c-primary);
    border-color: var(--agui-c-primary);
    &::before {
      transform: scale(1);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--agui-c-focus);
    outline-offset: 1px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
