.agui-input {
  color: var(--agui-c-label);
  background-color: rgba(42,42,42,1);
  border: 1px solid var(--agui-c-border);

  border-radius: 3px;
  padding: 0 4px;
  font-size: 13px;

  height: 20px;

  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--agui-c-focus);
  }

  &:disabled {
    opacity: 0.5;

    color: var(--agui-c-text-3);
    border-color: var(--agui-c-border);
  }
}
