@use 'sass:map';

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-blue-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-blue-600 text-white cursor-pointer
    hover:bg-blue-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-blue-600;
  font-size: 0.9em;
}

// scrollbar
$colors: (
  brand: #0078e7,
  primary: #ccc,
);

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: opacify(map.get($colors, 'primary'), 0.7);

  &:window-inactive {
    background-color: opacify(map.get($colors, 'primary'), 0.6);
  }

  &:hover {
    background-color: opacify(map.get($colors, 'primary'), 0.8);
  }

  &:active {
    background-color: opacify(map.get($colors, 'primary'), 1);
  }
}
