@use 'sass:map';

// scrollbar
$scrollbar: (
  color: #0078e7,
);

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: opacify(map.get($scrollbar, 'color'), 0.5);

  &:window-inactive {
    background-color: opacify(map.get($scrollbar, 'color'), 0.6);
  }

  &:hover {
    background-color: opacify(map.get($scrollbar, 'color'), 0.6);
  }

  &:active {
    background-color: opacify(map.get($scrollbar, 'color'), 0.8);
  }
}
