@import './main.scss';


button {
  &:focus {
    outline: none;
  }
}

$adv-font-serif: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi,
  Roboto, serif;

.adv-font-serif {
  font-family: $adv-font-serif;
}

.adv-menu-item {
  font-family: $adv-font-serif;
  font-size: 2rem;
  font-weight: 900;
}
