@use 'sass:map';

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--adv-c-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--adv-c-bg);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--adv-c-primary);
  opacity: 0.75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-blue-600 text-white cursor-pointer
    hover:bg-blue-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-blue-600;
  font-size: 0.9em;
}
