:root {
  -webkit-tap-highlight-color: transparent;

  // set font smooth
  // font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  outline: none;

  &:focus {
    outline: none;
  }
}
