:root {
  --adv-c-text: #000;

  --adv-c-bg: rgba(0, 0, 0, 0.95);
  --adv-modal-opacity: 0.9;
  --adv-modal-bg-color: rgba(255, 255, 255, var(--adv-modal-opacity));
}

html.dark {
  --adv-c-text: #fff;

  --adv-modal-bg-color: rgba(0, 0, 0, var(--adv-modal-opacity));
}
