name: ADV.JS CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["14", "16"]
        include:
          - node-version: "14"
            node-name: "LTS"
          - node-version: "16"
            node-name: "Latest"

    steps:
      - uses: actions/checkout@v2
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 6.15.1
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Lint
        run: pnpm lint

      - name: Check build
        run: pnpm build
